<!-- <div class="py-3" style="background-color: rgb(18, 55, 94);"></div> -->
<nav class="navbar navbar-expand-lg navbar-light text sticky-top py-3" style="background:#0474BC">
  <div class="container-fluid ">
    <a class="navbar-brand" href="#" id="logo">
      <!-- <img  alt="" width="30px" height="24px" opacity="1"
        class="d-inline-block align-text-top"> -->
      <span class=" header text-light"><b>BILLING INVOICE</b></span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <div class="navbar-nav fs-6">
          <li id="nav">
            <a id="navs" class="nav-link active text-white ms-2" aria-current="page" href="#">Home</a>
          </li>
          <li id="nav">
            <a class="nav-link active text-white ms-2" aria-current="page" routerLink="/about" href="#">About</a>
          </li>
          <li id="nav">
            <a id="navs" class="nav-link active text-white ms-2" aria-current="page" routerLink="/homeinvoice">Invoice</a>
          </li>
          <li id="nav">
            <a class="nav-link active text-white ms-2" aria-current="page" href="#">Contact Us</a>
          </li>
        </div>
        <li class="nav-item dropdown ms-2">
          <a class="nav-link dropdown-toggle text-white p-0 fs-6 mt-2 " href="#" id="navbarDropdownMenuLink"
            role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown link
          </a>
          <!-- <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="#">
                Submenu &raquo;
              </a>
              <ul class="dropdown-menu dropdown-submenu">
                <li>
                  <a class="dropdown-item" href="#">Submenu item 1</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Submenu item 2</a>
                </li>
              </ul>
              <a class="dropdown-item text-dark" href="#" routerLink="/patientlist">Manage Patients</a>
              <a class="dropdown-item text-dark" href="#" routerLink="/patientform">Add Patients</a>
              <a class="dropdown-item text-dark" href="#" routerLink="/workers-details">Manage Workers</a>
              <a class="dropdown-item text-dark" href="#" routerLink="/pages/workers">Add Workers</a>
            </li>
          </ul> -->
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li>
              <a class="dropdown-item" href="#">Another action</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">
                Submenu &raquo;
              </a>
              <ul class="dropdown-menu dropdown-submenu">
                <li>
                  <a class="dropdown-item" href="#">Submenu item 1</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Submenu item 2</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Submenu item 3 &raquo; </a>
                  <ul class="dropdown-menu dropdown-submenu">
                    <li>
                      <a class="dropdown-item" href="#">Multi level 1</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Multi level 2</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Submenu item 4</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Submenu item 5</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>