.underline {

    border-bottom: dashed 1px lighten($color: #000000, $amount: 0);
  }
  
  
  * {
  
    font-family: 'Poppins', sans-serif;
    
  }
  .container{
  font-size: 13px;
  }
  
 
  
  .input-icon-wrap {
    border: 1px solid #ddd;
    display: flex;
    border-radius: 5px;
    height: 40px;
  
  }
  
  .input-icon {
    background-color: #ddd;
   
   
  }
  
  .input-with-icon {
    border: none;
  }
  
  .input-icon,
  .input-with-icon {
    padding: 10px;
  }
 
    #checkbox-round {
        border-radius: 50%;
        cursor: pointer;
    }

    form {
      /* Temp */
      padding:1rem;
      background-color:#fff;
      border:1px solid #ddd;
      border-radius:4px;
      /* End Temp */
    
      .form-row {
        margin-bottom:1rem;
    
        position:relative;
         &:last-child {
           margin-bottom:0;
         }
    
        input[type="text"] {
          box-sizing:border-box;
          width:100%;
          padding:10px;
          border:1px solid #ddd;
          border-radius:4px;
          transition:all 0.5s ease-in-out;
          outline:0;
    
          + label[data-placeholder] {
            pointer-events:none;
    
            &:after {
              content:attr(data-placeholder);
              display:block;
              position:absolute;
              top:50%;
              left:0.5rem;
              transform: translate(0%, -50%);
              transition:all 0.5s ease-in-out;
              padding:0 0.25rem;
              background-color:rgba(255,255,255,0);
            }
    
          }
    
          &:focus,
          &:valid {
            border:1px solid green;
    
            + label[data-placeholder] {
              &:after {
                transform: translate(-5%, -150%) scale(0.9, 0.9);
                color:green;
                background-color:rgba(255,255,255,1);
              }
    
            }
    
          }
    
        }
    
      }
    }
    .tooltip {
      position: relative;
      display: inline-block;
      border-bottom: 1px dotted black;
    }
    
    .tooltip .tooltiptext {
      visibility: hidden;
      width: 120px;
      background-color: black;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      position: absolute;
      z-index: 1;
      top: -5px;
      left: 110%;
    }
    
    .tooltip .tooltiptext::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 100%;
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent black transparent transparent;
    }
    .tooltip:hover .tooltiptext {
      visibility: visible;
    }
    // @media screen and (max-width: 900px) {
    //  #textarea {
    //     width: 10%;
    //   }
    // }