<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand"><i class="fa fa-file-text fs-3  ms-3" aria-hidden="true"></i><b class="ms-2">All
            Invoices</b></a>
    <div class="form-inline d-flex">
        <button class="btn btn-outline-success bg-success text-light me-5 my-2 my-sm-0" routerLink="/invoice">+ New</button>
    </div>
</nav>
<div class="table-responsive mt-5">
    <table class="table container">
        <thead>
            <tr>
                <th> <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></th>
                <th scope="col">DATE</th>
                <th scope="col">INVOICE#</th>
                <th scope="col">ORDER NUMBER</th>
                <th scope="col">COSTUMER NAME</th>
                <th scope="col">STATUS</th>
                <th scope="col">DUE DATE</th>
                <th scope="col">AMOUNT</th>
                <th scope="col">BALANCE DUE</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th> <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"></th>
                <td>12/12/2022</td>
                <td>INV-000001</td>
                <td>546</td>
                <td>|;pp</td>
                <td>DRAFT</td>
                <td>10/02/2023</td>
                <td>$39.90</td>
                <td>$39.90</td>
            </tr>

        </tbody>
    </table>
</div>