<div class="container mt-2">
    <div class="row d-flex justify-content-between">
        <div class="col-xl-6">
            <div class="mt-4">
              <p class="fw-bold fs-5 mb-4">Manage customer</p>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="text-end mt-3 mb-4">
              <span><button style="background-color: #88f04b;" class="btn btn-lg"  routerLink="/Customer">
                Add customer +
              </button></span>
            </div>
        </div>
    </div>
    
  </div>