<div class="container">
    <mat-tab-group animationDuration="500ms">
    <mat-tab label="Other Detials">
        <div class="row mt-3 ">
            <div class="col-lg-8">
                <div class="row ">
                    <div class="col-lg-3">
                        <p class="mt-2 pt-0 ">PAN</p>
                    </div>
                    <div class="col-lg-9 col-sm-12 ">
                        <input type="text" class="form-control" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3 ">
            <div class="col-lg-8">
                <div class="row ">
                    <div class="col-lg-3">
                        <p class="mt-2 pt-0 ">Currency</p>
                    </div>
                    <div class="col-lg-9 col-sm-12 ">
                        <select class="form-select form-control-xxl" id="select-state"
                            placeholder="select a Currency...">
                            <option value="">select a Currency...</option>
                            <option value="AED">AED- UAE Dirham</option>
                            <option value="AUD">AUD-Australian Dollar</option>
                            <option value="CAD">CAD-Canadian Dollar</option>
                            <option value="INR">INR-Indian Rupee</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3 ">
            <div class="col-lg-8">
                <div class="row ">
                    <div class="col-lg-3">
                        <p class="mt-2 pt-0 ">Payment Terms</p>
                    </div>
                    <div class="col-lg-9 col-sm-12 ">
                        <select class="form-select form-control-xxl" id="select-state"
                            placeholder="select a Currency...">
                            <option value="">Due on receipt...</option>
                            <option value="AED">Net 15</option>
                            <option value="AUD">Net 30</option>
                            <option value="CAD">Net 45</option>
                            <option value="INR">Net 60</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-lg-8">
                <div class="form-group">
                    <div class="row">
                        <p class="col-form-label col-lg-3 pt-0"> <span class="underline"> Enable Portal?
                            </span>
                        </p>
                        <div class="col-lg-9">
                            <div class="form-check form-check-inline">
                                <input name="contact-sub-type" class="form-check-input" type="checkbox"
                                    value="Allow portal access for this customer">Allow portal access for
                                this customer
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-lg-8">
                <div class="form-group">
                    <div class="row">
                        <p class="col-form-label col-lg-3 pt-0"> <span class="underline"> Portal Language
                            </span>
                        </p>
                        <div class="col-lg-9">
                            <select class="form-select form-control-xxl" id="select-state"
                                placeholder="Language...">
                                <option value="">Language......</option>
                                <option value="English">English</option>
                                <option value="Hindi">Hindi</option>
                                <option value="Malayalam">Malayalam</option>
                                <option value="Telungu">Telungu</option>
                            </select>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-3">
                        <p class="mt-2 pt-0 ">Facebook</p>
                    </div>
                    <div class="col-lg-9 col-sm-12 ">
                        <div class="input-icon-wrap">
                            <span class="input-icon"><span class="bx bxl-facebook Facebook"></span></span>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-3">
                        <p class="mt-2 pt-0 ">Twitter</p>
                    </div>
                    <div class="col-lg-9 col-sm-12 ">
                        <div class="input-icon-wrap">
                            <span class="input-icon"><span class="bx bxl-twitter Twitter"></span></span>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </mat-tab>
    <mat-tab label="Address">
        <div class="row">
            <div class="col-lg-6">
                <p class="fs-5 text-secondary">BILLING ADDRESS</p>

                <div class="row mt-3">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-3">
                                <p class="mt-2 pt-0 ">Attention</p>
                            </div>
                            <div class="col-lg-9 col-sm-12 ">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row mt-3">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-3">
                                <p class="mt-2 pt-0 ">Country / Region</p>
                            </div>
                            <div class="col-lg-9 col-sm-12 ">
                                <select class="form-select" placeholder="Language...">
                                    <option value="">select......</option>
                                    <option value="India">India</option>
                                    <option value="Pakistan">Pakistan</option>
                                    <option value="SriLanka">SriLanka</option>
                                    <option value="Bangaladesh">Bangaladesh</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-3">
                                <p class="mt-2 pt-0 ">Address</p>
                            </div>
                            <div class="col-lg-9 col-sm-12 ">
                                <textarea name="address" id="" cols="35" rows="2"
                                    placeholder="street 1"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-3">
                            </div>
                            <div class="col-lg-9 col-sm-12 ">
                                <textarea name="address" id="" cols="35" rows="2"
                                    placeholder="street 2"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-3">
                                <p class="mt-2 pt-0 ">City</p>
                            </div>
                            <div class="col-lg-9 col-sm-12 ">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row mt-3">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-3">
                                <p class="mt-2 pt-0 ">State</p>
                            </div>
                            <div class="col-lg-9 col-sm-12 ">
                                <select class="form-select" placeholder="Language...">
                                    <option value="">select......</option>
                                    <option value="India">TamilNadu</option>
                                    <option value="Pakistan">Kerala</option>
                                    <option value="SriLanka">AndhraPradesh</option>
                                    <option value="Bangaladesh">Karnataka</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-3">
                                <p class="mt-2 pt-0 ">Zip Code</p>
                            </div>
                            <div class="col-lg-9 col-sm-12 ">
                                <input type="number" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-3">
                                <p class="mt-2 pt-0 ">Phone</p>
                            </div>
                            <div class="col-lg-9 col-sm-12 ">
                                <input type="number" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-3">
                                <p class="mt-2 pt-0 ">Fax</p>
                            </div>
                            <div class="col-lg-9 col-sm-12 ">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-6">
                <p class="fs-5 text-secondary">SHIPPING ADDRESS</p>
                <div class="row mt-3">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-3">
                                <p class="mt-2 pt-0 ">Attention</p>
                            </div>
                            <div class="col-lg-9 col-sm-12 ">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-3">
                                <p class="mt-2 pt-0 ">Country / Region</p>
                            </div>
                            <div class="col-lg-9 col-sm-12 ">
                                <select class="form-select form-control-xxl" id="select-state"
                                    placeholder="Language...">
                                    <option value="">select......</option>
                                    <option value="India">India</option>
                                    <option value="Pakistan">Pakistan</option>
                                    <option value="SriLanka">SriLanka</option>
                                    <option value="Bangaladesh">Bangaladesh</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-3">
                                <p class="mt-2 pt-0 ">Address</p>
                            </div>
                            <div class="col-lg-9 col-sm-12 ">
                                <textarea name="address" id="" cols="35" rows="2"
                                    placeholder="street 1"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-3">
                            </div>
                            <div class="col-lg-9 col-sm-12 ">
                                <textarea name="address" id="" cols="35" rows="2"
                                    placeholder="street 2"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-3">
                                <p class="mt-2 pt-0 ">City</p>
                            </div>
                            <div class="col-lg-9 col-sm-12 ">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-3">
                                <p class="mt-2 pt-0 ">State</p>
                            </div>
                            <div class="col-lg-9 col-sm-12 ">
                                <select class="form-select" placeholder="Language...">
                                    <option value="">select......</option>
                                    <option value="India">TamilNadu</option>
                                    <option value="Pakistan">Kerala</option>
                                    <option value="SriLanka">AndhraPradesh</option>
                                    <option value="Bangaladesh">Karnataka</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-3">
                                <p class="mt-2 pt-0 ">Zip Code</p>
                            </div>
                            <div class="col-lg-9 col-sm-12 ">
                                <input type="number" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-3">
                                <p class="mt-2 pt-0 ">Phone</p>
                            </div>
                            <div class="col-lg-9 col-sm-12 ">
                                <input type="number" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-3">
                                <p class="mt-2 pt-0 ">Fax</p>
                            </div>
                            <div class="col-lg-9 col-sm-12 ">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </mat-tab>
    <mat-tab label="Contact Persons">
    
    </mat-tab>
    <mat-tab label="Contact Fields">Content 3</mat-tab>
    <mat-tab label="Remarks">Content 3</mat-tab>

</mat-tab-group>


</div>
