*{
    padding: 0;
    margin: 0;
    outline: none;
}
.container{
    margin-left: 6%;
}
.AppForm .AppFormRight{
    background-image: url('./../../assets/Image.png');
    height: 450px;
    background-size: cover;
    background-position: right;
   
}

  .btn{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
	// background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.btn:hover{
	background-position: right;
}

@media screen and (max-width: 600px){
   .pic {
    display: none;
   }
   .login-content{
    justify-content: center;
}
.container{
  
   margin-left: 0%;
}
h1{
    margin-top: 10px;
}
.loginbtn{
  margin-bottom: 20px;
}
}
@media screen and  (min-width: 600px) and (max-width: 1000px){
  .login-content{
    justify-content: center;
}
}
input{
    border-radius: 55px;
}
// .input-wrapper{
//     position:relative;
//     line-height:14px;
//     margin:0 10px;
//     display:inline-block;
// }
 

// label{
//     color:#bbb;
//     font-size:11px;
//     text-transform:uppercase;
//     position:absolute;
//     z-index:2;
//     left:20px;
//     top:14px;
//     padding:0 2px;
//     pointer-events:none;
//     background:white;
//     transition:transform 100ms ease;
//     transform:translateY(-20px);
  
// }
 
// input {
//     font-size:13px;
//     color:#555;
//     outline:none;
//     border:1px solid #bbb;
//     padding:10px 20px;
//     border-radius:20px;
//     position:relative;
// }

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

$theme: lighten(#0a0c18, 20);
$bg-light: lighten(rgb(117,208,193), 88);
$text-default: lighten(#0a0c18, 40);
$text-light: lighten(#0a0c18, 60);



.wrapper {
	$radius: 5px;
	flex: 1;
	max-width: 450px;


	.login-form {
		background: $bg-light;
		padding: 30px;
		border-bottom-right-radius: $radius;
		border-bottom-left-radius: $radius;
		// h5 {
		// 	display: flex;
		// 	justify-content: space-between;
		// 	margin-top: 10px;
		// 	a {
		// 		color: $text-default;
		// 		font-size: 1em;
		// 		line-height: 1.5;
		// 		font-weight: 400;
		// 		text-decoration: none;
		// 		outline: none;
		// 		span {
		// 			font-style: italic;
		// 			text-decoration: underline;
		// 			color: $theme;
		// 		}
		// 	}
		// }
		.btn-submit {
			display: block;
			cursor: pointer;
			outline: none;
			width: 60px;
			border: 1px solid rgb(135,145,205);
			// border-radius: ;
			margin-top: 50px;
			font-size: 1.5em;
			line-height: 2;
			color: #fff;
			background: $theme;
			transition: 0.3s;
			&:hover {
				box-shadow: 0 6px 12px -3px rgba(9, 30, 66, 0.4);
				transform: translate(0, -3px);
				background: lighten($theme, 5);
			}
		}
	}
}

.input-field {
	position: relative;
	margin: 25px 0;
	padding-left: 30px;

	input {
		background-color: transparent;
		border: none;
		outline: none;
		border-radius: 0;
		width: 100%;
		font-size: 1.4em;
		height: 40px;
		border-bottom: 1px solid rgb(117,208,193);
		color: inherit;
		transition: 0.2s ease;

		&::placeholder {
			color: transparent;
		}

		&:focus,
		&:not(:placeholder-shown) {
			border-bottom: 1px solid $theme;
		}

		&:focus + label,
		&:not(:placeholder-shown) + label {
			transform: translateY(-14px) scale(0.85);
			color: $theme;
		}
	}
	label {
		color: $text-light;
		position: absolute;
		top: 0;
		left: 30px;
		font-size: 1em;
		cursor: text;
		transform-origin: 0% 100%;
		transform: translateY(14px);
		transition: 0.2s ease-out;
    font-weight: 100;
	}
	i {
		position: absolute;
		top: 0;
		left: 0;
		font-size: 1.2em;
		width: 30px;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $text-light;
	}
}
.loginbtn{
    height:40px;
    width: 120px;
    background-color: rgb(64,149,130);
    border: none;
}
h1{
    color:rgb(64,149,130);
}
.wrapperrr {
    background: #50a3a2;
    background: linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.75;
  }
  .wrapper.form-success .container h1 {
            transform: translateY(85px);
  }
 
  .bg-bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .bg-bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.15);
    bottom: -160px;
    animation: square 25s infinite; 
    transition-timing-function: linear;
  }
  .bg-bubbles li:nth-child(1) {
    left: 10%;
  }
  .bg-bubbles li:nth-child(2) {
    left: 20%;
    width: 80px;
    height: 80px;
    animation-delay: 2s;
    animation-duration: 17s;
  }
  .bg-bubbles li:nth-child(3) {
    left: 25%;
    animation-delay: 4s;
    
  }
  .bg-bubbles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-duration: 22s;
    background-color: rgba(255, 255, 255, 0.25);
  }
  .bg-bubbles li:nth-child(5) {
    left: 70%;
  }
  .bg-bubbles li:nth-child(6) {
    left: 80%;
    width: 120px;
    height: 120px;
    animation-delay: 3s;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .bg-bubbles li:nth-child(7) {
    left: 32%;
    width: 160px;
    height: 160px;
    animation-delay: 7s;
  }
  .bg-bubbles li:nth-child(8) {
    left: 55%;
    width: 20px;
    height: 20px;
    animation-delay: 15s;
    animation-duration: 40s;
  }
  .bg-bubbles li:nth-child(9) {
    left: 25%;
    width: 10px;
    height: 10px;
    animation-delay: 2s;
    animation-duration: 40s;
    background-color: rgba(255, 255, 255, 0.3);
  }
  .bg-bubbles li:nth-child(10) {
    left: 90%;
    width: 160px;
    height: 160px;
    animation-delay: 11s;        
  }
  @keyframes square {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-700px) rotate(600deg);
    }
  }
  @keyframes square {
    0% {
              transform: translateY(0);
    }
    100% {
              transform: translateY(-700px) rotate(600deg);
    }
  }
  .error{
    color: red;
    font-size: x-small;
  }
  .star{
    color: red;
   
  }