/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.material-icons{
    font-family:'Material Icons'!important;
}

.modal {
    // position: relative;
    z-index: 9999 !important
  }
  .modal-backdrop {
    z-index: 1071;
  }

